
.navbar {
  width: 100%;
  padding: 10px 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  width: 70px;      
  margin-left: -20px;  
  cursor: pointer;
}



.navbar-menu {
  display: flex;
  list-style: none;
  gap: 25px;
  font-size: 18px;
}

.navbar-menu li {
  cursor: pointer;
  transition: 0.3s;
}

.navbar-menu li:hover {
  color: #2563eb;
}

.navbar-menu .active {
  border-bottom: 2px solid #2563eb;
  padding-bottom: 2px;
  color: #2563eb;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}

.signin-btn {
  background: transparent;
  font-size: 14px;           
  color: #2563eb;
  border: 1px solid #ef4444;
  padding: 8px 18px;         
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.signin-btn:hover {
  background: #ef4444;
  color: #fff;
}
.navbar-cart-icon {
  position: relative;
  left:12px;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #ef4444;
  color: white;
  height: 18px;
  width: 18px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  margin-left: 10px;
}

.hamburger span {
  width: 25px;
  height: 5px;
  background: #2563eb;
  border-radius: 2px;
}


.drawer {
  position: fixed;
  top: 0;
  right:-250px;
  width: 250px;
  height: 100vh;
  background: #fff;
  box-shadow: 4px 0 15px rgba(0,0,0,0.1);
  z-index: 999;
  padding: 80px 20px;
}

.drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.drawer ul li {
  font-size: 18px;
  cursor: pointer;
  color: #333;
}

.drawer ul li:hover {
  color: #2563eb;
}

.drawer.active {
  left: 0;
}


.drawer-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 998;
}


@media (max-width: 790px) {
  .navbar-menu {
    display: none; 
  }
  .hamburger {
    display: flex;
  }
}

